<title>ToDo App</title>
<div class="container" > 
<div class="row">
<div class="span7">

   <div class="navbar">
     <div class="navbar-blue">
     <h3 class="bartext">Edit</h3>
     </div>
     </div>
     <div class="navbar">
     <div class="navbar-gray projnav">
     <div class="input-append">
		 <%= form_for @project do |p|  %>
		    <%= p.text_field  :project_name, class: "input_project", placeholder:"Start typing here to rename a project..."%>
		    <%= p.submit "Rename", class: "butn btn-add" %>
		 <%end%>
<center><%= link_to 'Back to projects', projects_path, class: 'btn btn-primary' %></center>
 
</div></div></div>