<title>ToDo App</title>
<div class="container" > 
<div class="row">
<div class="span7">
<h2 class="headertext">Editing project "<%= @project.project_name %>":</h2>

<%= render :partial =>'form' %>

</div></div></div>