<title>ToDo App</title>
<div class="container" > 
<div class="row">
<div class="span4">
<h2>Create your new project!</h2>
<hr>

<div class="well"> 
 <center><%= form_for @project do |p|  %>
    <%= p.text_field  :project_name %>
    <%= p.submit "Add project", class: "btn btn-primary" %></center>
 <%end%>
<% if !flash[:error].nil? %>
    <div class="alert alert-error">
    <button type="button" class="close" data-dismiss="alert" >×</button>
    <strong><%= flash[:error] %></strong>
    </div>
<% end %>
</div>
</div></div></div>