<title>ToDo App</title>
<div class="container" > 
<div class="row">
<div class="span7">
<h2 class="headertext">Create your new project!</h2>

   <div class="navbar">
     <div class="navbar-blue">
     <h3 class="bartext">New project</h3>
     </div>
     </div>
     <div class="navbar">
     <div class="navbar-gray projnav">
     <div class="input-append">
		 <%= form_for @project do |p|  %>
		    <%= p.text_field  :project_name, class: "input_project", placeholder:"Start typing here to create a project..."%>
		    <%= p.submit "Add Project", class: "butn btn-add" %>
		 <%end%>
<center><%= link_to 'Back to the project', project_path(@project), class: 'btn btn-primary' %></center>
 
</div></div></div>